

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">

  handler = Gmaps.build('Google');

  handler.buildMap({
    internal: {
      id: 'map'
    }
  }, function () {

    // be aware chrome >= 50 requires https for geolocation to work
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(displayOnMap);
    }

    markers = handler.addMarkers(<%=raw @hash.to_json %>);

    google.maps.event.addListener(handler.getMap(), 'click', function (event) {
      <% if logged_in? %>
      if (confirm("Are you sure you'd like to mark this pothole here?")) {
        var marker = handler.addMarker({
          lat: event.latLng.lat(),
          lng: event.latLng.lng(),
        }, {animation: google.maps.Animation.DROP});
        $.ajax({
          url: "/potholes",
          type: "POST",
          dataType: "json",
          data: {
            user_id: <%=current_user.id %>,
            latitude: event.latLng.lat(),
            longitude: event.latLng.lng()
          }
        });
      }
      <% else %>
        alert("Log in to mark");
      <% end %>

    });

  });

  function postData(){

  }


  function displayOnMap(position) {
    var marker = handler.addMarker({lat: position.coords.latitude, lng: position.coords.longitude});
    handler.map.centerOn(marker);
  };
  </script>
