<div id="bottom">
  <div id= "search">
  <%= form_tag('/bounds', remote: true) do  %>

    <%=search_field_tag 'location','Enter location here', size: 50%>
    &nbsp
    <%= submit_tag 'Relocate' %>

 <% end %>
  </div>
</div>
