<div id="infoDiv">

  <hr>
  <h4>Potholes in your area:</h4>
  <hr>
  <% if !@holes.nil? %>
  <% @holes.each do |pot| %>
  <p>
    <i><%= pot.loc %></i>
  </p>
  <p>Severity:
    <%= pot.severity %></p>

  <hr>
  <% end %>
  <% end %>

</div>
