<script type="text/javascript">


  handler = Gmaps.build('Google');

  handler.buildMap({
    internal: {
      id: 'map'
    }
  }, function () {

    // be aware chrome >= 50 requires https for geolocation to work
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(displayOnMap);
    }

    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    google.maps.event.addListener(handler.getMap(), 'click', function (event) {
      handleClickEvent(event);
    });
  });

  function handleClickEvent(event){

    <% if logged_in? %>
      confirmMarker(event.latLng.lat(), event.latLng.lng(), <%=current_user.id %>);
      document.getElementsByClassName('mfp-close')[0].onclick = function() {
        var text = "<h4> marked by: @<%= current_user.username %> </h4></br> info will load on refresh" ;
          createMarker(event.latLng.lat(), event.latLng.lng(), text);
        };

    <% else %>
      alert("Must be logged in to mark")
    <% end %>
  }



  function createMarker(lat, lng, text){
    var marker = handler.addMarker({
      lat: lat,
      lng: lng,
      infowindow: text
    }, {animation: google.maps.Animation.DROP});
  }



  function confirmMarker(lat, lng, user){
      var comment;
      var severity;
      $.magnificPopup.open({
           items: {
               src: '#test-popup',
               type: 'inline'
           },
           callbacks: {
             change: function() {
               this.content[0].children[0][2].value = lat;
               this.content[0].children[0][3].value = lng;
               this.content[0].children[0][4].value = user;
             },
             beforeClose: function() {
              comment = this.content[0].children[0][5].value;
              severity = this.content[0].children[0][6].value;
            }
           }
       });
     }


  function displayOnMap(position) {
    var marker = handler.addMarker({lat: position.coords.latitude, lng: position.coords.longitude});
    handler.map.centerOn(marker);
  };
  </script>
