<script type="text/javascript">


  handler = Gmaps.build('Google', { clusterer_maxZoom: 1, clusterer_gridSize: 100});

  handler.buildMap({
    internal: {
      id: 'map'
    }
  }, function () {

    // be aware chrome >= 50 requires https for geolocation to work
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(displayOnMap);
    }

    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    google.maps.event.addListener(handler.getMap(), 'click', function (event) {
      handleClickEvent(event);
    });
  });

  function handleClickEvent(event){

    <% if logged_in? %>
      var lat = event.latLng.lat();
      var lng = event.latLng.lng();
      displayPopup(lat,lng, <%=current_user.id %>);
      var submitButton = document.getElementsByClassName("mfp-close")[0];
      submitButton.removeAttribute("data-disable-with");
      submitButton.onclick = function() {
        var text = "<h4> marked by: @<%= current_user.username %> </h4></br> info will load on refresh" ;
          createMarker(lat, lng, text);
        };
    <% else %>
      alert("Must be logged in to mark")
    <% end %>
  }



  function createMarker(lat, lng, text){
    var marker = handler.addMarker({
      lat: lat,
      lng: lng,
      infowindow: text
    }, {animation: google.maps.Animation.DROP});
  }



  function displayPopup(lat, lng, user){
      var comment;
      var severity;
      $.magnificPopup.open({
           items: {
               src: '#pothole-form',
               type: 'inline'
           },
           callbacks: {
               change: function() {
               this.content[0].children[0][2].value = lat;
               this.content[0].children[0][3].value = lng;
               this.content[0].children[0][4].value = user;
             }}
       });

     }



  function displayOnMap(position) {
    var marker = handler.addMarker({
      lat: position.coords.latitude,
      lng: position.coords.longitude,
      infowindow: "Your current location"},
      {
        animation: google.maps.Animation.DROP
      });
    google.maps.event.trigger(marker.getServiceObject(), 'click')
    locate(position);
    handler.map.centerOn(marker);
    handler.getMap().setZoom(16);
  };

  function locate(position){
    $.ajax({
      type: "POST",
      url: "/locate",
      data: { coords: { lat:position.coords.latitude , lng:position.coords.longitude  } }
    });
  };

  var plus = document.getElementById('plus');
  plus.onclick = function(){
    var zoomLevel = handler.getMap().getZoom();
    zoomLevel++;
    handler.getMap().setZoom(zoomLevel);
  }

  var minus = document.getElementById('minus');
  minus.onclick = function(){
    var zoomLevel = handler.getMap().getZoom();
    zoomLevel--;
    handler.getMap().setZoom(zoomLevel);
  }






  </script>
