<div id = "list_div">

</div>

<div id= "mapDiv" >

  <div id="map" style='height: 650px; border-radius:5px; '></div>

  <h4>Potholes that users have marked within ___ miles. Click <a href="#">here</a> for help</h4>
</div>


  <div id="pothole-form" class="white-popup mfp-hide">
  <%= render 'pothole_form'  %>
  </div>

  <%= render 'render_map' %>
