
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">

  handler = Gmaps.build('Google');

  handler.buildMap({
    internal: {
      id: 'map'
    }
  }, function () {

    // be aware chrome >= 50 requires https for geolocation to work
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(displayOnMap);
    }

    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    google.maps.event.addListener(handler.getMap(), 'click', function (event) {
      handleClickEvent(event);
    });
  });

  function handleClickEvent(event){
    <% if logged_in? %>
    if (confirmMarker()) {
      postData(<%=current_user.id %>,event.latLng.lat(), event.latLng.lng());
      var name = infoWindowText();
      createMarker(event.latLng.lat(), event.latLng.lng(), name);
    }
    <% else %>
      alert("Log in to mark");
    <% end %>
  }

  function infoWindowText(){
    var html = "<p> created by " + "<%= @user.first_name %> " +
    "<%= @user.last_name %>" + "</p>";
    return html;
  }

  function createMarker(lat, lng, name){
    var marker = handler.addMarker({
      lat: lat,
      lng: lng,
      infowindow: name
    }, {animation: google.maps.Animation.DROP});
  }

  function postData(user, lat, lng){
    $.ajax({
      url: "/potholes",
      type: "POST",
      dataType: "json",
      data: {
        user_id: user,
        latitude: lat,
        longitude: lng
      }
    });
  }

  function confirmMarker(){
    return confirm("Are you sure you'd like to mark this pothole here?");
  }


  function displayOnMap(position) {
    var marker = handler.addMarker({lat: position.coords.latitude, lng: position.coords.longitude});
    handler.map.centerOn(marker);
  };
  </script>
