<div id = "list_div">

</div>

<div id= "mapDiv" >

  <div id="map" style='height: 500px; border-radius:5px; '></div>
    <%= render 'controls'  %>

</div>

  <div id="pothole-form" class="white-popup mfp-hide">
  <%= render 'pothole_form'  %>
  </div>

  <%= render 'render_map' %>
