@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-color: #F4F4F4;
  color: #373737;
}

section {
  overflow: auto;
}
header{
  background-color: #373737 !important;
  color: #F4F4F4 !important;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #F4F4F4;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}

.mfp-close {
  width: 40% !important;
  height: 44px;
  line-height: 44px;

  position: relative !important;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  padding: 0 0 18px 10px;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    top: 1px;
  }
}

.gone{
  display: none;
}
.flash{
  color: lightgreen;
  margin: 15px;
}
#infoDiv{
  float: right;
  width: 24%;
  height: 650px;
  background-color: #373737;
  color: #F4F4F4;
  border-radius:5px;
  overflow-y: auto;
  p{
    padding-left: 15px;
  }
}
h4{
  text-align: center;

}

#map{
  float: left;
  width: 75%;
  height: 500px;
  border-radius:5px;
}

#bottom{
  display: inline-block;
  margin-top: 15px;

  height: 135px;
  width: 75%;
  background-color: #373737;
  border-radius:5px;
}
#plus{
  font-size: 2em;
}
#minus{
  font-size: 2em;
}
#search{
  color: black;
  margin: 15px;
}
#home{
  margin: 15px;
}
